<div
  class="container-box"
  role="article"
  aria-roledescription="components loader section"
>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <app-subject-display></app-subject-display>
    </div>
    <div class="col-xs-6">
      <app-subject-manage></app-subject-manage>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <app-subject-log></app-subject-log>
    </div>
    <div class="col-xs-6">
      <app-subject-track></app-subject-track>
    </div>
  </div>
</div>
